.head_test_tab_select{
    margin-top:9px;
    color:red;
}

.head-span{
    color:red;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.text-left{
    text-align:left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align:center;
}
.question{
    font-size:15px;
    font-weight: bold;
}
.number{
    margin-right:5px;
}
